.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

.btnback {
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  background: #e6e6e6;
  padding: 7px 10px 8px 10px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btn{
    text-align:center;
}
.btn:hover {
  background: #615e61;
  text-decoration: none;
}

input[type=text], input[type=password] {
    color:black;
}

img{
    width:50%;
    margin:5px 5px 5px 5px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
}


footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#000000;
  text-align: center;
}


footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#000000;
  text-align: center;
}


header{
    padding-bottom:20px;
}


.buttonForm{
    float: left;
    margin-right: 5px;
}

@media (min-width: 350px) {
    .btn{
        width:50px;
        height:40px;
        text-align: center;
    }
}