@media (min-width: 800px) {
    .dark{
      padding:15px;
      background:#35424a;
      color:#ffffff;
      margin-top:10px;
      margin-bottom:10px;
    }

    .btnback {
      border-radius: 28px;
      font-family: Arial;
      color: #000000;
      font-size: 14px;
      background: #e6e6e6;
      padding: 7px 10px 8px 10px;
      border: solid #000000 2px;
      text-decoration: none;
    }

    .btn{
        text-align:center;
    }

    .btn:hover {
      background: #615e61;
      text-decoration: none;
    }

    input[type=text], input[type=password] {
        color:black;
    }

    img{
        width:50%;
        margin:5px 5px 5px 5px;
    }

    *, *:before, *:after {
      box-sizing: border-box;
    }

    ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .seat {
      display: flex;
      flex: 0 0 14.28571428571429%;
      padding: 5px;
      position: relative;
    }

    footer{
      padding:20px;
      margin-top:20px;
      color:#ffffff;
      background-color:#000000;
      text-align: center;
    }

    footer{
      padding:20px;
      margin-top:20px;
      color:#ffffff;
      background-color:#000000;
      text-align: center;
    }

    header{
        padding-bottom:20px;
    }

    .buttonForm{
        float: left;
        margin-right: 5px;
    }
    .search-bar{
        position: absolute;
        /*display: inline-block;*/
        left: 50%;
        top: 2%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 332px;
        height: 48px;
        background: #fff;
        font-size: 30px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }

    ul#wrapper{
        list-style: none;
        margin-top: 100px
    }
    .btn-time {
        width:80px;
        height:45px;
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: Arial;
      color: #ffffff;
      font-size: 15px;
      background: #0e0f0f;
      padding: 5px 10px 5px 10px;
      text-decoration: none;
    }

    .btn-disable-seat {
        width:95px;
        height:55px;
      padding: 5px 10px 5px 10px;

      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: Arial;
      color: #808080;
      font-size: 15px;
      background: #808080;
      text-decoration: none;
    }

    .btn-seats {
        width:95px;
        height:55px;
      padding: 5px 10px 5px 10px;
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: Arial;
      color: #ffffff;
      font-size: 15px;
      background: #0e0f0f;
      text-decoration: none;
    }

    .btn-seats:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }

    .btn-vip-seats {
        width:95px;
        height:55px;
      padding: 5px 10px 5px 10px;

      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: Arial;
      color: #ffffff;
      font-size: 15px;
      background: #f5cc00;
      text-decoration: none;
    }

    .btn-vip-seats:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }

    .btn-vip-seats:focus {
      background: #3cb0fd;
    }

    .btn-seats:focus {
      background: #3cb0fd;
    }


    #PleaseSelectSeat h1{
        text-align: center;
    }

    #selectTicket form{

    }
}
@media (max-width: 767) {
    .btn{
        width:50px;
        height:40px;
        text-align: center;
    }
    .btn-disable-seat {
        width:50px;
        height:40px;
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: Arial;
      color: #808080;
      font-size: 12px;
      background: #808080;
      padding: 1px 2px 1px 2px;
      text-decoration: none;
    }

    .btn-seats {
        width:50px;
        height:40px;
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: Arial;
      color: #ffffff;
      font-size: 12px;
      background: #0e0f0f;
      padding: 1px 2px 1px 2px;
      text-decoration: none;
    }
    .btn-vip-seats {
        width:50px;
        height:40px;
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: Arial;
      color: #ffffff;
      font-size: 12px;
      background: #f5cc00;
      padding: 1px 2px 1px 2px;
      text-decoration: none;
    }
    .btn-time {
        width:50px;
        height:40px;
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: Arial;
      color: #ffffff;
      font-size: 12px;
      background: #0e0f0f;
      padding: 1px 2px 1px 2px;
      text-decoration: none;
    }
}
