#compiler output
**/*.class

#intellij files
.idea/*

#flask file containing virtualenv
Flask/flask

#.pyc files
*.pyc

#None of this Mac business
.DS_Store

#Removing __pycache__
__pycache__

#Removing cinema.db
cinema.db

#Removing tmp
tmp

#log file from website tests
geckodriver.log

#Stop tracking of generated Qr codes
Flask/app/static/qr_codes/*
