{% extends "base.html" %}
{% set title = "Log in" %}
{% block content %}

<section id="main">
    {%if header is not none%}
        <div class="jumbotron text-center">
            <h3> {{header}}</h3>
        </div>
     {%endif%}

    <div class="container">
        <row>
        <div class="dark">
            <h3>Log In</h3>
            <form action="/loginrequest" method="post">
                <div>
                    <label>Username</label><br>
                    <input type="text" name="Username" placeholder="Username">
                </div>
                <div>
                    <label>Password</label><br>
                    <input type="Password" name="Password" placeholder="Password">
                </div>
                <input name="login" type="submit" value="Log In">
            </form>
            <form action="/register">
                <input name="join" type="submit" value ="join">
            </form>
        </div>
        <label name="message">{%if msg is not none%} {{msg}} {%endif%} </label>
        </row>
    </div>
</section>
{% endblock %}
