{% extends "base.html" %}
{% block content %}

<section id="main">
    <div class="container">
        <aside id="sidebar">
            <div class="dark">
                <h3>Purchase Details</h3>
                <p>Ticket Type: {{ticketType}}</p>
                <p>Total: £{{price}}</p>
            </div>
        </aside>

        <aside id="sidebar1">
            <div class="dark">
                <h3>Payment</h3>
                <form action="/processPayment/{{ticketType}}/{{price}}" method="post">
                    <div>
                        <label>Name</label><br>
                        <input type="text" name="Name" placeholder="Name">
                    </div>
                    <div>
                        <label>Card Number</label><br>
                        <input type="text" name="Card Number" placeholder="Card Number">
                    </div>
                    <div>
                        <label>Expiry Date</label><br>
                        <input type="text" name="Expiry Date" placeholder="MM/YY"/>
                    </div>
                    <div>
                        <label>Security Code</label><br>
                        <input type="text" name="Security Code" placeholder="Code"/>
                    </div>
                    <button class="button_1" type="submit">Confirm</button>
                </form>
            </div>
        </aside>
    </div>
    <div>
        <label>{% if msg is none %} {%else%}{{msg}}{%endif%}</label>
    </div>
</section>
{% endblock %}
