{% extends "base.html" %}
{% block content %}

<section id="main">
    <div class="container">
        <aside id="sidebar2">
            <div class="dark">
                <h3>Register</h3>
                <form action="/registerrequest" method="post">
                    <div>
                        <label>Username</label><br>
                        <input type="text" name="Username" placeholder="Username">
                    </div>
                    <div>
                        <label>Password</label><br>
                        <input type="Password" name="Password" placeholder="Password">
                    </div>
                    <div>
                        <label>Confirm Password</label><br>
                        <input type="Password" name="Confirm Password" placeholder="Password">
                    </div>
                    <input type="submit" value="Register">
                </form>
            </div>

            <label>{% if msg is not none%} {{msg}} {%endif%}</label>
        </aside>
    </div>
</section>
{% endblock %}
