{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4" id="leftBuffer1"></div>
        <div class="col-sm-4">
            <h1>Please Select A Seat</h1>
        </div>
        <div class="col-sm-4" id="rightBuffer"></div>

    </div>

    <div class="col-sm-4" id="leftBuffer2"></div>

    <div class="row">
        <div class="col-sm-4" style="text-align=center;" id="seats">
            <ol class="theaterSeats">
                {%for seat in allSeats%}
                {%if seat[1] == 1%}
                <li class="row row--1">
                    {% endif %}
                    {% if seat[2] == True %}
                    <form class="buttonForm" action="/storeSeat/{{seat[3]}}/{{seat[0]}}/{{seat[1]}}">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <button type="submit" disabled class="btn"><a>{{seat[3]}}</a></button>
                            </li>
                        </ol>
                    </form>
                    {% elif seat[2] == False %}
                    <form class="buttonForm" action="/storeSeat/{{seat[3]}}/{{seat[0]}}/{{seat[1]}}">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <button type="submit" class="btn btncenter">{{seat[3]}}</button>
                            </li>
                        </ol>
                    </form>
                    {% endif %}
                    {%endfor%}
            </ol>


            <div class="row">
                <form class="buttonForm">
                    <button name="Confirm" type="submit" class="btnback" form="selectTicket">Confirm</button>
                </form>
            </div>
        </div>

        <div class="col-sm-4">
            <form id="selectTicket" action="/payment" method="post">
                <select name="selectTicket">
                    <option value="Adult">Adult</option>
                    <option value="Child">Child</option>
                    <option value="Senior">Senior</option>
                </select>
            </form>
        </div>
    </div>
</div>
{% endblock %}
